
/* Call to action buttons */

.section-heading {
    color: red;
}

h2 {
    color: red;
}

.button-menu-home {
    background-color: #EEC170;
}

.button-menu-events {
    background-color: #F4712A;
}

.button-menu-about {
    background-color: #7f5a10;
}

.button-menu-contact {
    background-color: #F09942;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menu-container {
    font-size: 0;
    
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menu-button {
    height: 120px;
    text-align: center;
    padding: 0;
}

