{% extends "base.html" %}

{% block content %}
<!-- Header container-->
<section class="container header-container">
    <div class="row">
        <div class="image-container col-12">
            <!-- Sunbed image goes here -->
        </div>
    </div>
    <div class="row">
        <div class="buttons-container">
            <!-- Call to action buttons go here-->
        </div>
    </div>
</section>
<!-- Header container ends -->

<!-- Features container-->
<section class="container features-container">
    <h2 class="section-heading">About the Only Tan Is Essex</h2>
    <div class="row">
        <!-- feature cards go here 3 or 4-->
    </div>
</section>
<!-- Features container End-->

<!-- Testimonials container -->
<section class="container testimonials-container">
    <h2 class="section-heading">What our customers say</h2>
 <!-- testimonials carousel goes here -->
</section>
<!-- Testimonials container End -->






{% endblock %}