{% extends "base.html" %}

{% block content %}
<!-- Header container-->
<section class="header-container">
    
        <div class="image-container">
            <!-- Sunbed image goes here -->
            {% load static %}
                <img src="{% static 'totiemb/media/sunbed_text.jpg' %}" width="100%" alt="home" />
        </div>
    
    <div class="row no-gutters">
        <div class="buttons-container col">
            <!-- Call to action buttons go here-->
            <ul id="nav" class="list-inline menu-container">
                <li class="col-6 col-sm-3 list-inline-item button-menu-home menu-button">
                    <a href="/product"><i class="fa-solid fa-store"></i><span> Products</span></a>
                </li>
                <li class="col-6 col-sm-3 list-inline-item button-menu-events menu-button">
                    <a href="/events"><i class="fa-solid fa-calendar"></i><span> Events</span></a>
                </li>
                <li class="col-6 col-sm-3 list-inline-item button-menu-about menu-button">
                    <a href="/about"><i class="fa-solid fa-circle-info"></i><span> About</span></a>
                </li>
                <li class="col-6 col-sm-3 list-inline-item button-menu-contact menu-button">
                    <a href="/contact" class="menu-item"><i class="fa-solid fa-envelope"></i><span> Contact</span></a>
                </li>
                
            </ul>

        </div>
    </div>
</section>
<!-- Header container ends -->

<!-- Features container-->
<section class="container features-container">
    <h2 class="section-heading">Come on down to get brown</h2>
    <div class="row">
        <!-- feature cards go here 3 or 4-->
    </div>
</section>
<!-- Features container End-->

<!-- Testimonials container -->
<section class="container testimonials-container">
    <h2 class="section-heading">What our customers say</h2>
 <!-- testimonials carousel goes here -->
</section>
<!-- Testimonials container End -->






{% endblock %}