{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <h1>The Only way is Essex</h1>
            <a href="/product">Products</a>
            <a href="/events">Events</a>
            <a href="/contact">Contact</a>
            <a href="/about">About</a>
            <div class="row">
                <h3>Checklist</h3>
                    <ol>
                        <li>Does this page load?</li>
                        <li>Does this page load within main.html frame?</li>
                        <li>Does this page link to external resources (Bootstrap, FontAwesome etc)?</li>
                        <li>Does this page link to Static/CSS file?</li>
                        <li>Does this page link to Static.JS file?</li>
                    </ol>
            </div>
        </div>
    </div>

</div>

{% endblock %}