{% extends "base.html" %}

{% block content %}

    <div class="container-fluid">
        <h1>Products</h1>
        <a href="https://8000-marbri18-onlytanessex-7w9evjizaz7.ws-eu38.gitpod.io/admin/totiemb/product/add/">Add a product</a>
        <div class="row">
            
            <!-- Blog Entries Column -->
            <div class="col-12 mt-3 left">
                <div class="row">
                    {% for product in product_list %}
                    <div class="col-md-3">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h2 class="card-title">{{ product.title }}</h3>
                                <p class="card-text">{{ product.maker }}</p>
                                <div class="image-container">
                                    {% if "placeholder" in product.image.url %}
                                    <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" alt="" class="card-img-top">
                                    {% else %}
                                    <img src="{{ product.image.url }}" alt="product image" class="card-img-top">
                                    {% endif %}
                                </div>
                               
                                <p class="card-text">{{ product.product_type }}</p>
                            </div>
                        </div>
                    </div>
    
                    {% if forloop.counter|divisibleby:4 %}
                    </div>
                    <div class="row">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
    
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
    {% endblock %}



